<div class="full-height-layout bump-layout">
    <div id="container">
        <div class="flex-container">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="flex-inner">
                    <div class="box1 order-box">
                        <div class="box-header">
                            <div class="row align-items-center">
                                <div class="col-sm-10 col-9">
                                    <h1 *ngIf="langindex==0">BUMP –  {{order_status==2?'Order Confirmed':'In kitchen'}}  {{ order_id}}</h1>
                                    <h1 *ngIf="langindex==1">BUMP –  {{order_status==2?'تم تأكيد الطلب':'في المطبخ'}}  {{ order_id}}</h1>
                                </div>
                                <div class="col-sm-2 col-3 text-right">
                                    <a routerLink="/order" class="close-btn"><img src="assets/images/close-icon.png"
                                            alt="close-btn"></a>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <!-- <div class="col-lg-7 col-md-7 col-sm-8 m-auto text-center">
                                    <a (click)="doViewDetails()" class="button3 lt-pointer">
                                        <i class="icon"><img src="assets/images/delivery-box.png"
                                                alt="delivery-box"></i>
                                        <span>{{langindex==0?'Print Invoice & Ready for Pick Up':'طباعة الفاتورة & جاهز للاستلام'}}</span>
                                    </a>
                                </div> -->
                            </div>
                            <div class="tag">
                                <div class="row">
                                    <div class="col-lg-7 col-md-9 m-auto">
                                             
                                        <h4  *ngIf="order_status == 2 || order_status == 3" class="text-center">{{langindex==0?'Select Cooking Time':'اختر مدة الطبخ'}}</h4>
                                        <ul *ngIf="order_status == 2|| order_status == 3" class="list-unstyled tag-list">
                                            <li>
                                                <a class="lt-pointer"  (click)="doSelectKitchenTime('05 mins')"><span  [ngClass]="{'highlighted-time':UpdatedCookingTime=='05 mins'}">05 mins</span></a>
                                            </li>
                                            <li>
                                                <a class="lt-pointer" (click)="doSelectKitchenTime('10 mins')"><span [ngClass]="{'highlighted-time':UpdatedCookingTime=='10 mins'}">10 mins</span></a>
                                            </li>
                                            <li>
                                                <a class="lt-pointer" (click)="doSelectKitchenTime('15 mins')"><span  [ngClass]="{'highlighted-time':UpdatedCookingTime=='15 mins'}">15 mins</span></a>
                                            </li>
                                            <li>
                                                <a class="lt-pointer" (click)="doSelectKitchenTime('20 mins')"><span  [ngClass]="{'highlighted-time':UpdatedCookingTime=='20 mins'}">20 mins</span></a>
                                            </li>
                                            <li>
                                                <a class="lt-pointer" (click)="doSelectKitchenTime('25 mins')"><span  [ngClass]="{'highlighted-time':UpdatedCookingTime=='25 mins'}">25 mins</span></a>
                                            </li>
                                            <li>
                                                <a class="lt-pointer" (click)="doSelectKitchenTime('30 mins')"><span  [ngClass]="{'highlighted-time':UpdatedCookingTime=='30 mins'}">30 mins</span></a>
                                            </li>
                                            <li>
                                                <a class="lt-pointer" (click)="doSelectKitchenTime('45 mins')"><span  [ngClass]="{'highlighted-time':UpdatedCookingTime=='45 mins'}">45 mins</span></a>
                                            </li>
                                            <li>
                                                <a class="lt-pointer" (click)="doSelectKitchenTime('No Time')"><span  [ngClass]="{'highlighted-time':UpdatedCookingTime=='No Time'}">No Time</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="status">
                                <h3 class="text-center">{{langindex==0?'Change Status':'تغيير الحالة'}}</h3>

                                <div class="row"  *ngIf="order_status == 2">
                                    <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto">
                                        <a class="button3 button3-mute">
                                            <!-- <i class="icon"><img src="assets/images/choice-icon.png"
                                                    alt="choice-icon"></i> -->
                                            <span>{{langindex==0?'Order Confirmed':'تأكيد الطلب'}}</span>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto">
                                        <a (click)="doUpdateOrderStatusInKitchenStatus()" class="button3 button3-light lt-pointer">
                                            <!-- <i class="icon"><img src="assets/images/pot-icon.png" alt="pot-icon"></i> -->
                                            <span>{{langindex==0?'In kitchen':'في المطبخ'}}</span>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto">
                                        <a (click)="doUpdateOrderStatusReadyforpickup()" class="button3 button3-mute button3-warning lt-pointer">
                                            <!-- <i class="icon"><img src="assets/images/tray.png" alt="tray"></i> -->
                                            <span>{{langindex==0?'Ready for Pickup':'جاهز للإستلام'}}</span>
                                        </a>
                                    </div>
                                </div>

                                
                                <div class="row"  *ngIf="order_status == 3">
                                    <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto">
                                        <a class="button3 button3-mute">
                                            <!-- <i class="icon"><img src="assets/images/choice-icon.png"
                                                    alt="choice-icon"></i> -->
                                            <span>{{langindex==0?'Order Confirmed':'تأكيد الطلب'}}</span>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto">
                                        <a class="button3 button3-mute lt-pointer">
                                            <!-- <i class="icon"><img src="assets/images/pot-icon.png" alt="pot-icon"></i> -->
                                            <span>{{langindex==0?'In kitchen':'في المطبخ'}}</span>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto">
                                        <a (click)="doUpdateOrderStatusReadyforpickup()" class="button3 button3-warning lt-pointer">
                                            <!-- <i class="icon"><img src="assets/images/tray.png" alt="tray"></i> -->
                                            <span>{{langindex==0?'Ready for Pickup':'جاهز للإستلام'}}</span>
                                        </a>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>