.mini-Text{
    font-size: 11pt;
    color:gray;
    display: block;
}

.tr-nobg td{
    background: none;
    background-color: #ffffff;

}
.amountCls{
    font-size: 14px;
    text-transform:none ;
}

.txt-bold-mainitem{

    font-weight: bolder;
}
.bg-imp{
    background-color: white!important;
    border: 1px solid purple!important; 
}

.mg-3{
    margin: 3px 
}
.td-addon{
   
    margin-left: 40px;
}
@media print {
    .hide-tab {
        display: none;
      }
 }