<footer id="footer">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-3">
                <ul class="list-unstyled sociable">
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fas fa-globe-asia"></i></a></li>
                </ul>
            </div>
            <div class="col-3">
                <!-- <p>2020 © Mahally, DUBAI, UAE.</p> -->
                <p>{{langindex==0?'2021 © Mahally, Saudia Arabia.':'2021 @محلّي ، السعودية'}}</p>
            </div>
        </div>
    </div>
</footer>