<div class="full-height-layout bump-layout">
    <div id="container">
        <div class="flex-container">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="flex-inner">
                    <div class="box1 order-box">
                        <div class="box-header">
                            <div class="row align-items-center">
                                <div class="col-sm-10">
                                    <h1 *ngIf="order_status == 1">BUMP – order Pending {{ order_id }}</h1>
                                    <h1 *ngIf="order_status == 2">BUMP – order Confirmed {{ order_id }}</h1>
                                    <h1 *ngIf="order_status == 3">BUMP – order In Kitchen {{ order_id }}</h1>
                                    <h1 *ngIf="order_status == 4">BUMP – order Ready For Pickup {{ order_id }}</h1>
                                    <h1 *ngIf="order_status == 5">BUMP – order Delivered {{ order_id }}</h1>
                                </div>
                                <div class="col-sm-2 col-3 text-right">
                                    <a routerLink="/order" class="close-btn"><img src="assets/images/close-icon.png"
                                            alt="close-btn"></a>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-8 m-auto text-center">
                                    <a (click)="doViewDetails()" class="button3 lt-pointer">
                                        <!-- <i class="icon"><img src="assets/images/printer-icon.png" alt="printer"></i> -->
                                        <span>Print invoice</span>
                                    </a>
                                </div>
                            </div>
                            <div class="status">
                                <h3 class="text-center">Change Status</h3>
     
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-8 mb-3">
                                    <a class="button3 button3-light ml-auto mr-auto lt-pointer">
                                        <span>Order Confirmed</span>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto">
                                    <a (click)="doUpdateOrderStatusInKitchen()" class="button3 button3-warning  lt-pointer"><span>In Kitchen</span></a>                            
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto">
                                    <a class="button3 button3-mute  lt-pointer">
                                        <!-- <i class="icon"><img src="assets/images/tray.png" alt="tray"></i> -->
                                        <span>Ready for pickup</span>
                                    </a>
                                </div>

                            </div>


                        </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>
